  /* styles.css */
  .table-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }

  .report-table {
    width: 100%;
    border-collapse: collapse;
  }

  .report-table th,
  .report-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .report-table th {
    background-color: #f2f2f2;
  }

  .reportFilterRemoveBtn {
    display: none;
  }

  .filter-btn, .pagination {
    float: right;
  }

  .apply-filter, .remove-filter {
    margin-right: 10px;
  }
  .page-btn {
    margin-left: 5px;
  }
  .fromDate, .toDate {
    color: black;
  }