 /* Style for alert message */
 .alert-back-in-stock {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px;   
    color: white;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other elements */
    display: none; /* Initially hidden */
}